@use '../theme';
@use '../mediaQuery';

.page-container {
  margin: 0 auto;
  width: 1600px;
  height: 100vh;
}
.main-content-container {
  display: flexbox;
  justify-content: center;
  border: 1px solid orange;
  margin-top: 80px;
  margin-bottom: 20px;
}
.slogan-image-container {
  display: flex;
  justify-content: center;
  border: 1px solid green;
}
.slogan-container {
  display: flex;
  justify-content: space-evenly; 
  margin-right: 20px;
  border: 1px solid pink;
  border-radius: 25px;
  width: 40%;
  height: 350px;
}
.image-container {
  display: flex;
  justify-content: center;
  border: 1px solid purple;
  border-radius: 25px;
  width: 50%;
}
#slogan {
  font-size: 70px;
  text-shadow: 0 0 7px black;
  color: white;
  user-select: none;
}
#image {
  width: 50%;
  user-select: none;
}
.app-blurb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 2px solid red;
  width: 100%;
  height: 400px;
}
.blurb-text {
  border: 1px solid yellow;
  align-items: center;
  width: 50%;
  font-size: 1.6rem;
  background-color: #333;
  color: white;
}
.reviews-container {
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
}

.reviews-container div {
  background-color: yellow;
  align-items: center;
  margin: 20px;
  width: 100%;
  height: 100px;
}


// styles for the home page here
// delete the above example