@use '../theme';
@use '../mediaQuery';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Chewy&family=Courgette&display=swap');


.type-heading-container {
  text-align: center;
  color: #390345;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.25px white;
  padding: 5px;
  margin: 2px;
}

#link {
  text-decoration: none;
  list-style: none;
  color: #390345;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
  height:100vh;
  margin: 0px 30px 30px 30px;
  padding: 25px;
}

.search-results-container {
  height: 100%;
  width: 28vw;
  flex: 0 0 auto;
  // border: 1px solid #ccc;
  // box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 25px;
  // background-color: #EBEFE7;
  // -webkit-box-shadow: 0px 0px 7px 0px white;
  box-shadow: 0px 0px 7px 0px white;
  background-color: rgb(235, 239, 231, 0.5);
}

.results-title {
  margin: 1px;
}

.results-profile-image {
  width: 160px;
  height: 160px;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-name {
  margin: 2px;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  color: #390345;
  -webkit-text-stroke: 0.1px white;
}
.image-username-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#user-name {
  margin: 1px;
  font-size: 25px;
  padding: 10px;
}

.pfp-info {
  display: flex;
}

#i-want-to {
  margin: 20px;
}
.skill-list {
  font-size: 22px;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin: 15px;
}
