@use '../theme';
@use '../mediaQuery';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Chewy&family=Courgette&display=swap');

.chatArea {
  width: 700px;
  margin: 1em;
}

.message-container {
  border-radius: 1em;
  height: 200px;
  width: 100%; // change, responsive
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0.1em 1em;
  margin: 0.5em;
  width: 80%;
  height: 50px;
}

.message-left {
  font-style: italic;
  font-size: 18px;
  font-family: 'Cantarell', sans-serif;
  align-self: flex-end;
  border: 1px solid hsla(212, 100%, 50%, 1);
  border-radius: 1em;
  background-color: hsla(212, 100%, 50%, 0.1);
}

.message-right {
  align-self: flex-start;
  border: 1px solid hsla(132, 100%, 50%, 1);
  border-radius: 1em;
  background-color: hsla(132, 100%, 50%, 0.1);
}

.message-start-container {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.message-start-text {
  font-size: 20px;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  color: #390345;
}
.message-username {
  align-self: flex-end;
  color: gray;
  font-style: italic;
}

.messageForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;

  textarea {
    height: 25px;
    flex: auto;
    border-radius: 10px;
    padding: 0.8em;
    margin: 5px;
    background-color: hsla(0, 0%, 100%, 0.5);
    border: none;
    font-family: 'Cantarell', sans-serif;
    font-style: italic;
  }
  button {
    height: 100%;
    max-width: 4em;
    flex: auto;
    background-color: #390345;
    color: white;
    border-radius: 5px;
    font-family: 'Chewy', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 5px;
    // width: 4em;
  }
  button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
