@use '../theme';
@use '../mediaQuery';

// styles for the header component here
.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: lightgrey;
  border: 5px solid blue;
  text-decoration: none;
  padding-right: 50px;
  top: 100px;
  user-select: none;
}
